services:
  frontend:
    image: docker.io/johnpiapian/bookstore:frontend-latest
    build: ./frontend
    ports:
      - 8080:3000
    environment:
      - STORAGE_TYPE=database
      - BACKEND_BASE_URL=http://backend:3000
      - NODE_ENV=production
    depends_on:
      - backend
  
  backend:
    image: docker.io/johnpiapian/bookstore:backend-latest
    build: ./backend
    environment:
      - PORT=3000
      - MONGODB_URI=${MONGODB_URI}